<div class="d-lg-flex align-items-center mb-2 mt-2 gap-3">
    <div class="position-relative">
        <input type="text" class="form-control ps-5 radius-30" placeholder="Search Job"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
    </div>
</div>
<!--end row-->
<div class="row row-cols-1 row-cols-md-1">
	<div class="col">
		<div class="card radius-10 shadow-none bg-transparent overflow-hidden">
			<div class="card-body">
				<div class="d-lg-flex align-items-center">
					<div>
						<h5 class="mb-0">Job title</h5>
					</div>
					<div class="ms-auto">
						<h5 class="mb-0">Code</h5>
					</div>
				</div>
			</div>
			<hr/>
			<div class="dashboard-top-countries mb-3 px-2">
				<ul class="list-group list-group-flush radius-10">
					<li class="list-group-item d-flex align-items-center radius-10 mb-2 shadow-sm">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-2">
								<h6 class="mb-0">Business Analyst</h6>
							</div>
						</div>
						<div class="ms-auto">647</div>
					</li>
					<li class="list-group-item d-flex align-items-center radius-10 mb-2 shadow-sm">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-2">
								<h6 class="mb-0">Software Engineer</h6>
							</div>
						</div>
						<div class="ms-auto">435</div>
					</li>
					<li class="list-group-item d-flex align-items-center radius-10 mb-2 shadow-sm">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-2">
								<h6 class="mb-0">Mechanical Engineer</h6>
							</div>
						</div>
						<div class="ms-auto">287</div>
					</li>
					<li class="list-group-item d-flex align-items-center radius-10 mb-2 shadow-sm">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-2">
								<h6 class="mb-0">Writer</h6>
							</div>
						</div>
						<div class="ms-auto">432</div>
					</li>
					<li class="list-group-item d-flex align-items-center radius-10 mb-2 shadow-sm">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-2">
								<h6 class="mb-0">IT Consult</h6>
							</div>
						</div>
						<div class="ms-auto">345</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--end row-->
