.toggle-label {
    width: 14rem;
}

.form-check-input{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--contact-btn-background); 
    box-shadow: 0px 8px 22px 6px rgb(0 0 0 / 25%), inset 0px 6px 4px rgb(255 255 255 / 25%);
    
}
.form-check-input:checked[type=radio] {
    width: 2.5rem;
    height: 2.5rem;
    border-color: var(--primary-btn-background);
    border-style: solid;

    border-radius: 50%;
    background-color: rgb(78, 60, 60) ;
    color: var(--primary-icon-color);
    font-weight: bold;
    background-image: url("data:image/svg+xml;charset=utf8,<svg id='Expanded_finals_' data-name='Expanded (finals)' xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 30 30'><path fill='rgb(255,255,255)' d='M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z'/></svg>");
}

.color{
    background-color: rgb(147, 172, 186);
    border-color: black;
}

.text {
    font-weight: 800;
}

.point{
    display: inline-block;
    height: auto;
    visibility: visible;
    background-color: hsla(257, 52%, 36%, 1);
    color: white;
    border-radius: 50%;
    transform: rotateY(360deg);
    padding: 0.2em;
    font-size: 1.5em;
    transition: transform 750ms ease-in-out;
    margin-top: 0.5em;
    min-width: 2em;
    position: relative;
    margin: 0em 0 0 0;
    text-align: center;
}

.text-total{
    font-size: 1.5em;
    font-weight: bold;
    align-self: end;
}

.summary{
    min-width: 200px;
    width: inherit;
}

.btn-select {
    padding-right: 0px;
}

.align-buttons{
    text-align: right;
}
