.card-header {
    background-color: #001f49;
}

.layout{
    width:100%;
    background-color: transparent;
}

.page-content {
	background-image: url(../../../../assets/images/bg-themes/download2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }
