<div class="card radius-10 m-5">
    <div class="card-header">
        <div class="row text-center m-5">
            <div class="col">
                <button type="button" class="btn-lg btn-outline-primary px-5 radius-30 home-button" routerLink="appointment-calendar">Appointment calendar</button>
            </div>
        </div>
        <div class="row text-center m-5">
            <div class="col">
                <button type="button" class="btn-lg btn-outline-primary px-5 radius-30 home-button" routerLink="new-appointment">New appointment</button>
            </div>
        </div>
        <div class="row text-center m-5">
            <div class="col">
                <button type="button" class="btn-lg btn-outline-primary px-5 radius-30 home-button" routerLink="payment">Finance</button>
            </div>
        </div>
    </div>
</div> 
