<div class="wrapper text-center">
	<div class="icon-wrapper">
		<input #fileInput type="file" [id]="idInput"
      class="inputfile"
			(click)="handleInputClick()" 
			(change)="handleInputChange($event)"/>

	    <label [for]="idInput">
	     	<i #circleIcon *ngIf="!fileAdded" class="fa fa-upload"></i>
	     	<i #closeIcon  *ngIf="fileAdded" (click)="handleInputCancel($event)" class="fa fa-times"></i>
	    </label>
	</div>

	<div class="container">
		<h6 id="search" #fileName>{{emptyInputString}}</h6>
		<p id="text" *ngIf="!fileAdded">{{subString}} <span>{{dataAggiornamento}}</span></p>
	</div>
</div>