 <div class="topbar">
  <nav class="navbar navbar-expand">
	  <i class="bx bx-menu bx-md" [ngClass]="isMenu ? 'menu-btn' : 'menu'" (click)="menu()"></i>
    <div class="top-menu ms-auto">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown dropdown-large bell-icon">
          <a
            class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="alert-count">7</span>
            <i class="bx bx-bell"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" (click)="$event.preventDefault()">
              <div class="msg-header">
                <p class="msg-header-title">Notifications</p>
                <p class="msg-header-clear ms-auto">Marks all as read</p>
              </div>
            </a>
            <div class="header-notifications-list" [perfectScrollbar]>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-primary text-primary">
                    <i class="bx bx-group"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      New Customers<span class="msg-time float-end"
                        >14 Sec ago</span
                      >
                    </h6>
                    <p class="msg-info">5 new user registered</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-danger text-danger">
                    <i class="bx bx-cart-alt"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      New Orders
                      <span class="msg-time float-end">2 min ago</span>
                    </h6>
                    <p class="msg-info">You have recived new orders</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-success text-success">
                    <i class="bx bx-file"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      24 PDF File<span class="msg-time float-end"
                        >19 min ago</span
                      >
                    </h6>
                    <p class="msg-info">The pdf files generated</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-warning text-warning">
                    <i class="bx bx-send"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      Time Response
                      <span class="msg-time float-end">28 min ago</span>
                    </h6>
                    <p class="msg-info">5.1 min avarage time response</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-info text-info">
                    <i class="bx bx-home-circle"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      New Product Approved
                      <span class="msg-time float-end">2 hrs ago</span>
                    </h6>
                    <p class="msg-info">Your new product has approved</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-danger text-danger">
                    <i class="bx bx-message-detail"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      New Comments
                      <span class="msg-time float-end">4 hrs ago</span>
                    </h6>
                    <p class="msg-info">New customer comments recived</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-success text-success">
                    <i class="bx bx-check-square"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      Your item is shipped
                      <span class="msg-time float-end">5 hrs ago</span>
                    </h6>
                    <p class="msg-info">Successfully shipped your item</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-primary text-primary">
                    <i class="bx bx-user-pin"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      New 24 authors<span class="msg-time float-end"
                        >1 day ago</span
                      >
                    </h6>
                    <p class="msg-info">24 new authors joined last week</p>
                  </div>
                </div>
              </a>
              <a
                class="dropdown-item"
                href="#"
                (click)="$event.preventDefault()"
              >
                <div class="d-flex align-items-center">
                  <div class="notify bg-light-warning text-warning">
                    <i class="bx bx-door-open"></i>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="msg-name">
                      Defense Alerts
                      <span class="msg-time float-end">2 weeks ago</span>
                    </h6>
                    <p class="msg-info">45% less alerts last 4 weeks</p>
                  </div>
                </div>
              </a>
            </div>
            <a href="#" (click)="$event.preventDefault()">
              <div class="text-center msg-footer">View All Notifications</div>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="user-box dropdown">
      <a
        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <div *ngIf="profile == 'null' ; else second">
          <img src="/assets/images/gallery/user_avatar.png" class="user-img" alt="default avatar">
      </div>

      <ng-template #second>
        <img src="{{profile}}" class="user-img" alt="user avatar">
      </ng-template>
        <div class="user-info ps-3">
          <p class="user-name mb-0">{{userName}}</p>
          <p class="designattion mb-0">{{role}}</p>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" routerLink="/settings"
            ><i class="bx bx-user"></i><span>Profile</span></a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="logOut()"
            ><i class="bx bx-log-out-circle"></i><span>Logout</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand navbar-light" *ngIf="isMenu && isStudent">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li [className]="activeMenuClass('/dashboard')" id="home">
          <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Dashboard </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/settings')" id="settings">
          <a [routerLink]="['/settings']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Account settings </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/job-list')" id="jonList">
          <a [routerLink]="['/job-list']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Skilled job list </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/map')" id="map">
          <a [routerLink]="['/map']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Regional map </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/analytics-graph')" id="analyticsGraph">
          <a [routerLink]="['/analytics-graph']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Point analytics graph </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/status')" id="status">
          <a [routerLink]="['/status']" routerLinkActive="active"  class="nav-link">
            <span class="nav-item-name m-1 p-1"> Visa process status </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/faq')" id="faq">
          <a [routerLink]="['/faq']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> FAQs </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand navbar-light" *ngIf="isMenu&&isLawyer">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li [className]="activeMenuClass('/lawyer-dashboard')" id="dashboard">
          <a [routerLink]="['/lawyer-dashboard']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Dashboard </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/settings')" id="settings">
          <a [routerLink]="['/settings']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Account settings </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/analytics-graph')" id="analyticsGraph">
          <a [routerLink]="['/analytics-graph']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Analytics </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/student-profile')" id="studentProfile">
          <a [routerLink]="['/student-profile']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Student profiles </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/staff-profile')" id="staffProfile">
          <a [routerLink]="['/staff-profile']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Staff profiles </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/appointment-history')" id="history">
          <a [routerLink]="['/appointment-history']" routerLinkActive="active"  class="nav-link">
            <span class="nav-item-name m-1 p-1"> Appointment history </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand navbar-light" *ngIf="isMenu&&isStaff">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li [className]="activeMenuClass('/staff-dashboard')" id="dashboard">
          <a [routerLink]="['/staff-dashboard']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Dashboard </span>
          </a>
        </li>
        <li [className]="activeMenuClass('/settings')" id="settings">
          <a [routerLink]="['/settings']" routerLinkActive="active" class="nav-link">
            <span class="nav-item-name m-1 p-1"> Account settings </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div> 

