<div class="bg-forgot">
  <!-- wrapper -->
  <div class="wrapper">
    <div
      class="authentication-forgot d-flex align-items-center justify-content-center"
    >
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                    <h3 class="text-welcome">Reset Password</h3>
                    <p class="text-description">Thanks! Please set a new password below</p>
                </div>
                <div class="p-4 rounded border">
                  <form [formGroup]="passwordForm" class="row g-3">
                    <div class="col-12 mt-4">
                      <label for="inputOldPassword" class="form-label"
                        >New password</label
                      >
                      <div class="input-group" id="show_hide_password">
                        <input
                          type="password"
                          formControlName="newPassword"
                          class="form-control border-end-0"
                          id="inputOldPassword"
                          placeholder="Enter Password"
                        />
                        <a
                          href="#"
                          (click)="$event.preventDefault()"
                          class="input-group-text bg-transparent"
                          ><i class="bx bx-hide"></i
                        ></a>
                      </div>
                    </div>
                    <div class="col-12 mt-4">
                      <label for="inputNewPassword" class="form-label"
                        >Confirm password</label
                      >
                      <div class="input-group" id="show_hide_password">
                        <input
                          type="password"
                          formControlName="confirmPassword"
                          class="form-control border-end-0"
                          id="inputNewPassword"
                          placeholder="Enter Password"
                          (keyup)="keyup($event.target.value)"
                        />
                        <a
                          href="#"
                          (click)="$event.preventDefault()"
                          class="input-group-text bg-transparent"
                          ><i class="bx bx-hide"></i
                        ></a>
                      </div>
                    </div>
                    <div *ngIf="isMatching && !isEmpty" class="match ms-2 pt-2 text-center">
                        <em><img src="../../../assets/images/icons/Checkmark.png" class="me-2 pb-1" alt=""></em>The passwords match</div>

                    <div *ngIf="!isMatching && !isEmpty" class="error ms-2 pt-2 text-center">The passwords do not match.</div>

                    <div class="d-grid gap-2 pt-3 mt-2">
                      <button
                        type="button"
                        [disabled]="!passwordForm.valid"
                        (click)="resetPassword()"
                        class="btn btn-primary btn-lg"
                      >
                        Reset password
                      </button>
                      <a
                        href="javascript:;"
                        (click)="onSignIn()"
                        class="btn btn-light btn-lg"
                        ><i class="bx bx-arrow-back me-1"></i>Back to Login</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end wrapper -->
  </div>
</div>
