<div class="bg-forgot">
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="container-fluid">
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
			<div class="col mx-auto">
			<div class="card">
				<div class="card-body">
					<div class="p-4 rounded  border">
						<div class="text-center">
							<h4 class="mt-2 mb-2 font-weight-bold">Reset password</h4>
						</div>
						<form [formGroup]="emailForm" class="row g-3">
						<div>
							<label class="form-label">Email</label>
							<input type="email" formControlName="email" class="form-control" id="inputEmailAddress" class="form-control form-control-lg" placeholder="example@user.com" />
							<div *ngIf="emailForm.controls['email'].hasError('pattern') && !emailForm.controls['email'].valid "
						class="error ms-2 pt-2">Invalid email.</div>
						<div *ngIf="emailForm.controls['email'].hasError('required') && emailForm.controls['email'].touched " class="error ms-2 pt-2">Email is required.</div>
						</div>
						<div>
							<button type="button" class="btn btn-success btn-sm" [disabled]="!emailForm.valid || isSubmit" (click)="checkUserExist()">Send Code</button>
						</div>
						</form>
						<p class="text-muted mt-4">Enter code sent to email</p>
						<form [formGroup]="codeForm" class="row g-3">
						<div class="col-12">
							<label for="inputCode" class="form-label">Code</label>
							<div class="input-group">
								<input type="text" formControlName="code" class="form-control border-end-0" id="inputCode">
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-success btn-sm" [disabled]="!codeForm.valid" (click)="checkCodeValid()">Continue</button>
						</div>
						</form>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
</div>