<div class="col d-flex">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <div class="row">
                <div class="col text-center mt-3">
                    <h5 class="mb-1">Documents</h5>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <form [formGroup]="documentForm">
            <table class="table align-middle mb-0 table-hover" id="Transaction-History">
                <thead class="table-light">
                    <tr>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Option</th>
                    </tr>
                </thead>
           
                <tbody>

                    <tr *ngFor="let document of requestedDocuments; let i = index">
                            <td>{{document.fileType}}
                            </td>
                            <td>
                                <div *ngIf="!document.isSubmitted" class="d-flex align-items-center text-success">	<i class='bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1'></i>
                                    <span>Submitted</span>
                                </div>
                                <div *ngIf="document.isSubmitted" class="d-flex align-items-center text-danger">	<i class='bx bx-radio-circle-marked bx-burst bx-rotate-90 align-middle font-18 me-1'></i>
                                    <span>Pending</span>
                                </div>
                            </td>
                            <td >
                                <div *ngIf="!document.isSubmitted">
                                    <a class="btn button btn-download"  (click)="openFullscreen(content, document.fileUrl)">Download</a>
                                </div>
                            </td>
                    </tr>
                </tbody>
            </table>
            </form> 
        <div class="row justify-content-end mt-3 mb-3">
            <div class="col-1 text-end">
                <button class="btn btn-outline-green" (click)="add()" type="button">Add</button>  
            </div>
        </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ngx-imgPdf-viewer
          [documentURL]="url"
          [docPreviewConfig]="docPreviewConfig"
        ></ngx-imgPdf-viewer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>