.point{
    display: inline-block;
    height: auto;
    visibility: visible;
    background-color: hsla(257, 52%, 36%, 1);
    color: white;
    border-radius: 50%;
    transform: rotateY(360deg);
    padding: 0.2em;
    font-size: 1.5em;
    transition: transform 750ms ease-in-out;
    margin-top: 0.5em;
    min-width: 2em;
    position: relative;
    margin: 0em 0 0 0;
    text-align: center;
}

.text-total{
    font-size: 1.5em;
    font-weight: bold;
    align-self: end;
}

.summary{
    min-width: 200px;
    width: inherit;
}

.align-buttons{
    text-align: right;
}

.bg-edit{
    background-color: hsla(257, 52%, 36%, 1);
    color: white;
    cursor: pointer;
}

.body-size {
    max-height: 300px; 
    overflow-y: auto;
}