ngb-datepicker {
   background-color: rgb(202, 203, 207);
   width: 600px;
}

:host::ng-deep ngb-datepicker {
    border: none !important;
}

:host::ng-deep .ngb-dp-header {
    // margin-right: 3.5rem;
}

:host::ng-deep.ngb-dp-month{
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

:host::ng-deep.ngb-dp-week{
    margin-left: 2.5rem;
    margin-bottom: 0.8rem;
}


:host::ng-deep.ngb-dp-week.ngb-dp-weekdays{
    border-bottom: none !important;
    // margin-left: 2.5rem;
}

:host::ng-deep.ngb-dp-day{
    width: 100%; 
}


:host::ng-deep.ngb-dp-weekday.small{
    width: 100%;
    height: 100%;
    text-align: start !important;
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: bold;
    font-size: var(--small);
    color: var(--primary-text) !important;
}

:host::ng-deep.ngb-dp-content.ngb-dp-months{
    margin-top: 3.5rem;
}

// /* radio button */
// .form-check .yes-class.form-check-input {
//     float: right !important;
//     margin-left: 0.5em !important;
// }

.form-check-input{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--contact-btn-background); 
    box-shadow: 0px 8px 22px 6px rgb(0 0 0 / 25%), inset 0px 6px 4px rgb(255 255 255 / 25%);
    
}
.form-check-input:checked[type=radio] {
    width: 2.5rem;
    height: 2.5rem;
    border-color: var(--primary-btn-background);
    border-style: solid;

    border-radius: 50%;
    background-color: rgb(78, 60, 60) ;
    color: var(--primary-icon-color);
    font-weight: bold;
    background-image: url("data:image/svg+xml;charset=utf8,<svg id='Expanded_finals_' data-name='Expanded (finals)' xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 30 30'><path fill='rgb(255,255,255)' d='M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z'/></svg>");
}

.color{
    background-color: rgb(204, 192, 31);
}